/* About page */

#page-main {
  display: flex;
  flex-direction: column;
}

.page-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-section .team-photo {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.faq-item {
  margin-bottom: 25px;
}

.faq-divider {
  border: 0;
  border-top: 1px solid #e4d5bd;
  margin: 10px 0;
}